<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>

    <div th:if="${isFree}">
        <p>Эта книга свободна. Кому назначить её?</p>
        <br/>
        <form th:method="PATCH" th:action="@{/books/{id}/person(id=${book.getId()})}">
            <label>Выберите человека</label>
            <select th:object="${person}" th:field="*{id}" id="person">
                <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFio()}"></option>
            </select>
            <input type="submit" value="Назначить книгу">
        </form>
    </div>
    <div th:unless="${isFree}">
        <p th:text="${'Книга сейчас у: ' + book.getFio()}">
        <form th:method="PATCH" th:action="@{/books/{id}/free(id=${book.getId()})}">
            <input type="submit" value="Освободить книгу">
        </form>
    </div>
    <hr/>
    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="Редактировать">
    </form>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Удалить">
    </form>
</body>
</html>